<table class="full-width">
  <tr>
    <th>No.</th>
    <th>SKU</th>
    <th>Description</th>
    <th style="text-align: right">GRN Quantity</th>
    {% if activity == "Procurement" %}
    <th style="text-align: right">Moisture Loss Allocation</th>
    {% else %}
    <th style="text-align: right">Moisture Loss</th>
    {% endif %}
    <th style="text-align: right">Number Of Crates</th>
  </tr>
  {% for row in items %}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{row['sku']}}</td>
    <td>{{row['item_name']}}</td>
    {% if row['stock_uom'] | lower == 'nos' %}
    <td style="text-align: right">{{row['qty'] | int }} Pcs</td>
    {% else %}
    <td style="text-align: right">
      {{row['qty'] }} Kg
    </td>
    {% endif %}
    {% if activity == "Procurement" and row['stock_uom'] | lower != 'nos' %}
    <td style="text-align: right">{{(row['crate_weight'] - row['qty']) | round(3) }} Kg</td>
    {% else %}
    <td style="text-align: right">{{row['moisture_loss'] }} Kg</td>
    {% endif %}
    <td style="text-align: right">{{row['number_of_crates']}}</td>
  </tr>
  {% endfor %}
  <tr>
    <td colspan="5" style="text-align: right"><b>Total Number Of Crates</b></td>
    <td style="text-align: right"><b>{{total_number_of_crates}}</b></td>
  </tr>
</table>

<style>
  table,
  th,
  td {
    border: 1px solid;
    padding: 0.5rem;
  }

  .full-width {
    width: 100%;
  }
</style>